# Unused media assets
Assets/gabriel-silverio-u3WmDyKGsrY-unsplash.jpg
Assets/jessica-felicio-_cvwXhGqG-o-unsplash.jpg
Assets/pexels-rodnae-productions-7754434.mp4
Assets/poster.png
Assets/prince-akachi-LWkFHEGpleE-unsplash.jpg
Assets/salha-frija-dsQoLK2N7DQ2-unsplash.jpg

# Unused local videos
rr_salon_data/VID20260130171339.mp4
rr_salon_data/VID20260130172746.mp4
rr_salon_data/VID20260130174635.mp4
rr_salon_data/VID20260130194831.mp4
rr_salon_data/VID_20260301_224229_081.mp4
